<div class="span-24 last">
	<h3>Olá, seja bem-vindo ao sistema Mercúrio!</h3>
</div>

<div>
<%= link_to(user_omniauth_authorize_path(:google_oauth2), html_options = {:method => :post, :class => 'button'}) do %>
	Entre com sua conta do Public
	<img src="images/icons/door_in.png" alt="" />
<% end %>
</div>
